button {
    border: 1px solid black;
    width: 70px;
    padding: 10px;
    display: block;
    margin-bottom: 15px;
    border-radius: 5px;
    background-color: orange;
  }
  .show {
    padding: 5px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
  }
  h1, h3 {
    text-align: center;
  }
  .post-card-area {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center
  }
.post-card{
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-flow: column wrap;
}  

.cont-secondary {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
  justify-items: center;
  align-items: center;
}

/** Temperature Component*/
.temp-section{
  border: 1px solid black;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

/** Filter app component*/
.filter-container {
  border: 1px solid black;
}

/** Post area*/
.post-area {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}
.buttons-post {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.buttons-post button {
  background-color: white;
  padding: 10px;
}